import React from 'react';
import styles from './{{pascalCase name}}.css';

export default function {{pascalCase name}}() {
  return (
    <div >
      <h1>{{pascalCase name}} Component</h1>
    </div>
  );
}
